a:focus {
  outline: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  background:black;
  width: 100%;
  z-index: 3;
}
.wrapper {
  max-width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  svg {
    width: 100px;
    height: 60px;
  }
  margin-left: 40px;
}
.header__acc-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.header__logout {
  margin-left: 10px;
  svg {
    fill:white;
    transition: 0.3s;
    &:hover {
      fill: #8C31FF;
    }
  }
}