.app-sidenav {
  position: fixed;
  width: 15%;
  height: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(61, 14, 197, 0.5) 76.83%), #000000;
  padding: 30px 0;
}

.sidenav__content {
  text-transform: uppercase;
  text-align: left;
}
.sidenav__item {
  padding: 20px 0 20px 40px;

  .sidenav__link {
    text-decoration: none;
    outline: none;
    color: white;
    transition: 0.3s;

  }

}

.active {
  background-color: #8C31FF;
  color: #8C31FF;
}
