@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app-main-layout {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100vh;
  font-style: normal;
  color: white;
}

.wrapper {
  margin-top: 60px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: auto;

  .app-content {
    width: 100%;
    margin-left: 15%;
    background: linear-gradient(0deg, #C17EFF 0%, #6631FF 56.83%), #000000;
  }

}


